.app-header {
	background-color: #2c3e50;
	color: #fafafa;
	font-weight: normal;
	display: flex;
	align-items: center;
	border-bottom: 5px solid #34495e;

	& > * {
		border-left: 1px solid #34495e;
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
		font-size: 17px;

		&:first-child {
			border-left: 0;
		}
	}
}

.logout-link {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;

	&:active {
		background-color: #34495e;
	}
}

.header-title {
	flex-grow: 2;
}

