@import 'reset';

@font-face {
	font-family: QuickSand;
	src: url("../fonts/Quicksand-Regular.otf") format("opentype");
}

* {
	font-family: QuickSand, Tahoma, Arial, sans-serif !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

body {
	position: relative;
	background-color: #ddd;
	overflow-y: scroll;
}

.devices-list {
	margin: 0 8px;
}

.reconnecting-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
	background-color: #fff;
	opacity: 0.9;
}