@import 'reset';

* {
	font-family: Arial, sans-serif !important;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

body {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/grid.png);

	position: relative;
	background-color: #eee;
}

.app-container { }