.device-container {
	background-color: #fff;
	width: 100%;
	margin: 65px 0;
	position: relative;
}

.timeline {
	height: 350px;
	max-width: 100%;
	padding-top: 15px;
}

.device-graphics-container {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #ccc;
	overflow-x: auto;
}


.device-data-container {
	flex-grow: 2;
	box-sizing: border-box;
	max-width: 82%;
}

.device-data-text {
	display: flex;
	padding: 10px;
	font-size: 13px;
	position:absolute;
	top: -35px;
	background-color: #777;
	border-radius: 3px 3px 0 0;
	color: #fff;

	&.online {
		background-color: #27ae60;
	}

	& > * {
		padding:0 10px;
		border-right: 1px solid #fff;
		line-height: 15px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}
}

.gauges-container {
	width: 180px;
	border-left: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.highcharts-credits {
	display: none;
}

.highcharts-legend-item {
	margin: 5px 0;
}

.gauge {
	border-bottom: 1px solid #ccc;
	
	&:last-child {
		border: 0
	}
}

.security-alert-option {
	position: absolute;
	right: 15px;
	top: -35px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	line-height: 35px;
	font-size: 13px;

	.onoffswitch {
		margin-left: 15px;
	}
}