.device-container {
	background-color: #fff;
	box-shadow: 2px 2px 3px #bbb;
	-webkit-box-shadow: 2px 2px 3px #bbb;
	width: 100%;
	margin: 20px 0;
}

.timeline {
	height: 380px;
	padding-top: 15px;
}

.device-graphics-container {
	display: flex;
	box-sizing: border-box;
}


.device-data-container {
	flex-grow: 2;
	box-sizing: border-box;
}

.device-data-text {
	display: flex;
	padding: 10px;
	font-size: 13px;

	& > * {
		padding:0 5px;
		border-right: 1px solid #ccc;
		line-height: 15px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}
}

.gauges-container {
	width: 180px;
	border-left: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.highcharts-credits {
	display: none;
}

.highcharts-legend-item {
	margin: 5px 0;
}

.gauge {
	border-bottom: 1px solid #ccc;
	
	&:last-child {
		border: 0
	}
}