.security-alerts-balloon {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: block;
	width: 50px;
	height: 50px;
	background-color: #e74c3c;
	color: #fff;
	line-height: 50px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	-webkit-animation: pulsate 4s ease-out;
    -webkit-animation-iteration-count: infinite;
    border-radius: 100%;
}

.security-alert-title {
	width: 100%;
	height: 50px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	font-size: 20px;
	font-weight: normal;
	text-indent: 20px;
	display: flex;
	align-items: center;
	background-color: #eee;

	& > * {
		line-height: 50px;
	}
}

.security-alert-popup {
	background-color: #fff;
	margin: 50px auto;
	width: 300px;
	border-radius: 5px;
    overflow: hidden;

	ul.alerts-list li {
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		font-size: 13px;
		line-height: 20px;
		border-bottom: 1px solid #ccc;

		.alert-device-id-label {
			font-weight: bold;
		}
		
		.alert-time {
			padding-left: 10px;
		}

		.alert-label {
			padding-left: 20px;
		}
	}
}

@-webkit-keyframes pulsate {
	0% { -webkit-transform: scale(0.7, 0.7); }
	50% { -webkit-transform: scale(1.2, 1.2); }
	100% {-webkit-transform: scale(1.3, 1.3);}
}