body.modal-open {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
	background: rgba(0, 0, 0, 0.8);
	overflow: auto;
	outline: none;
	margin: 0;
	padding: 0;
	z-index: 10;
	animation-name: animate-entry;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

.modal-placeholder {
	height: 0;
}
